

* {
  margin: 0;
  padding: 0;
  font-family:'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  
}

html {
  
  height: 100vh;
}

.body {
  height: 100vh;
}

@media screen and (max-width: 997px) {
  * {
    font-size: 2vw;
  }
}

a {
  text-decoration: none;
  color: #1C1D2177;
}

a.goal {
  color:#1855FE;
  font-weight: 900
}

a.creation {
  color:#77A4A0;
  font-weight: 900
}

a.link {
  color:#1855FE;
  font-weight: 900
}

a.link:hover{
  text-decoration: none;
  color: #1C1D2177;
}

a.alert {
  color:#B63535;
  font-weight: 900;
}
span>a.alert{
  font-weight: inherit;
}

span>a.link {
  font-weight: inherit;
}
span>a.goal{
  font-weight: inherit;
}

span>a.creation{
  font-weight: inherit;
}

