

* {
  margin: 0;
  padding: 0;
  font-family:'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  display: block;
  height: 100%;
  
}

@media screen and (max-width: 997px) {
  * {
    font-size: 2vw;
  }
}

a {
  text-decoration: none;
  color: #1C1D2177;
}

a.goal {
  color:#1855FE;
  font-weight: 900
}
a.alert {
  color:#B63535;
  font-weight: 900
}
